<div class="row slider-div">
  <ul class="nav nav-tabs">
    <li role="presentation" class="slider-label active">
      <%= link_to "Beginnings", "#beginnings", class: "slider-btn" %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "First Milestone", "#pt2", class: "slider-btn" %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "Nice Achievement", "#pt3", class: "slider-btn" %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "Sad Event", "#pt4", class: "slider-btn" %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "Strong Victory", "#pt5", class: "slider-btn" %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "Big Thing", "#pt6", class: "slider-btn" %>
    </li>
    <li class="slider-label">
      <%= link_to "Today", "#today", class: "slider-btn" %>
    </li>
  </ul>
  <div id="slider"></div>
</div>