<div class="row slider-div">
  <ul class="nav nav-tabs">
    <li role="presentation" class="slider-label active">
      <%= link_to "Beginnings", "", class: "slider-btn", id: '1_btn' %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "First Milestone", "", class: "slider-btn", id: '2_btn' %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "Nice Achievement", "", class: "slider-btn", id: '3_btn' %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "Sad Event", "", class: "slider-btn", id: '4_btn' %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "Strong Victory", "", class: "slider-btn", id: '5_btn' %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "Big Thing", "", class: "slider-btn", id: '6_btn' %>
    </li>
    <li class="slider-label">
      <%= link_to "Today", "", class: "slider-btn", id: '7_btn' %>
    </li>
  </ul>
  <div id="slider"></div>
</div>