<div class="row slider-div">
  <ul class="nav nav-tabs">
    <li role="presentation" class="slider-label active">
      <%= link_to "Beginnings", "#1", class: "slider-btn", id: '1_btn' %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "First Milestone", "#2", class: "slider-btn", id: '2_btn' %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "Nice Achievement", "#3", class: "slider-btn", id: '3_btn' %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "Sad Event", "#4", class: "slider-btn", id: '4_btn' %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "Strong Victory", "#5", class: "slider-btn", id: '5_btn' %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "Big Thing", "#6", class: "slider-btn", id: '6_btn' %>
    </li>
    <li class="slider-label">
      <%= link_to "Today", "#7", class: "slider-btn", id: '7_btn' %>
    </li>
  </ul>
  <div id="slider"></div>
</div>