<span id="sidebar_page_finder" class="hidden">
  <%= @page_finder %>
</span>
<nav>
  <ul id="sidebar_ul">
    <li id="home">
      <%= icon('home') %> Home
    </li>
    <li id="work" >
      <%= icon('fire') %> Our Work
    </li>
    <li id="leaders" class="sub-menu"> <%= icon('gavel') %> Leaders</li>
    <li id="history" >
      <%= icon('history') %> Our History
    </li>
    <li id="support" >
      <%= icon('group') %> Support Us
    </li>
    <li id="social" >
      <%= icon('share-alt') %> Social
    </li>
  </ul>
</nav>
