<div id="sidebar-wrapper">
  <span id="sidebar_page_finder" class="hidden">
    <%= @page_finder %>
  </span>

  <ul id="sidebar_ul">
    <li id="home">
      <%= link_to icon('home') + " Home", root_path  %>
    </li>
    <li id="work" >
      <%= link_to icon('fire') + " Work", work_path  %>
    </li>
    <li id="leaders">
      <%= link_to icon('gavel') + " Board", leaders_path %>
    </li>
    <li id="support" >
      <%= link_to icon('group') + " Support", support_path %>
    </li>
    <li id="join" >
      <%= link_to icon('plane') + " Join Us", join_path %>
    </li>
    <li id="calendar">
      <%= link_to icon('calendar') + " Events", calendar_path %>
    </li>
    <li id="social" >
      <%= link_to icon('share-alt') + " Social", social_path %>
    </li>
  </ul>
</div>



