<div id="sidebar-wrapper">
  <span id="sidebar_page_finder" class="hidden">
    <%= @page_finder %>
  </span>

  <ul id="sidebar_ul">
    <li id="home">
      <%= icon('home') %> Home
    </li>
    <li id="work" >
      <%= icon('fire') %> Work
    </li>
    <li id="leaders" class="sub-menu">
      <%= icon('gavel') %> Board
    </li>
    <li id="history" >
      <%= icon('history') %> History
    </li>
    <li id="support" >
      <%= icon('group') %> Support
    </li>
    <li id="calendar">
      <%= icon('calendar') %> Events
    </li>
    <li id="social" >
      <%= icon('share-alt') %> Social
    </li>
  </ul>
</div>



