<div class="row slider-div">
  <ul class="nav nav-tabs">
    <li role="presentation" class="slider-label active">
      <%= link_to "Kingdom Life", "", class: "slider-btn", id: '1_btn' %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "HIV Prevention", "", class: "slider-btn", id: '2_btn' %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "Purity Clubs", "", class: "slider-btn", id: '3_btn' %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "Sponsorships", "", class: "slider-btn", id: '4_btn' %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "Sponsor a Child", "", class: "slider-btn", id: '5_btn' %>
    </li>
    <li role="presentation" class="slider-label">
      <%= link_to "Project #6", "", class: "slider-btn", id: '6_btn' %>
    </li>
  </ul>
  <div id="slider"></div>
</div>