<div class="banner-img-div">
  <%= image_tag 'road_banner.jpg', class: "banner-img" %>
</div>

<h3><%= @div_nav_pos %></h3>

<div class="row content-block history-block spacing" >
  <div class="col-sm-3">
    <%= image_tag placeholder_image(200) %>
  </div>
  <div class="col-sm-9 history-narrative" >
    <h4 id="1">This is just the beginning</h4>
    <p><%= lorem_ipsum (500) %></p>
  </div>
</div>

<div class="row content-block history-block spacing" >
  <div class="col-sm-3">
    <%= image_tag placeholder_image(200) %>
  </div>
  <div class="col-sm-9 history-narrative" >
    <h4 id="2">First Milestone</h4>
    <p><%= lorem_ipsum (500) %></p>
  </div>
</div>

<div class="row content-block history-block spacing" >
  <div class="col-sm-3">
    <%= image_tag placeholder_image(200) %>
  </div>
  <div class="col-sm-9 history-narrative" >
    <h4 id="3">Nice Achievement</h4>
    <p><%= lorem_ipsum (500) %></p>
  </div>
</div>

<div class="row content-block history-block spacing">
  <div class="col-sm-3">
    <%= image_tag placeholder_image(200) %>
  </div>
  <div class="col-sm-9 history-narrative" >
    <h4 id="4">Sad event</h4>
    <p><%= lorem_ipsum (500) %></p>
  </div>
</div>

<div class="row content-block history-block spacing" >
  <div class="col-sm-3">
    <%= image_tag placeholder_image(200) %>
  </div>
  <div class="col-sm-9 history-narrative" >
    <h4 id="5">Strong Victory</h4>
    <p><%= lorem_ipsum (500) %></p>
  </div>
</div>

<div class="row content-block history-block spacing" >
  <div class="col-sm-3">
    <%= image_tag placeholder_image(200) %>
  </div>
  <div class="col-sm-9 history-narrative" >
    <h4 id="6">Big Thing</h4>
    <p><%= lorem_ipsum (500) %></p>
  </div>
</div>

<div class="row content-block history-block spacing" >
  <div class="col-sm-3">
    <%= image_tag placeholder_image(200) %>
  </div>
  <div class="col-sm-9 history-narrative" >
    <h4 id="7">Here's where we are today</h4>
    <p><%= lorem_ipsum (500) %></p>
  </div>
</div>

<div id="history_nav_spacer"></div>

