<div class="supersized">
  <%= image_tag 'soccer.jpg', class: "supersized-image" %>
</div>

<div class="content-block row well well-trans">
  <div class="col-sm-6">
    <h3>
      Raising an empowered generation...
    </h3>
    <p class=""> 
      LOCODI was started by a group of passionate Christians in Soroti, Uganda. We are creating a new generation of citizens that are focused on compassion and demonstrating Christ's love. We invite you to become a part of our work. 
      <%= link_to "Join us today!", join_path %>
    </p>
  </div>

  <div class="col-sm-6">
    <h3>
      ...full of God's love and compassion.
    </h3>
    <p class="">
      We are all important parts of one body. We need each other. And together, we can do something big for the Kingdom of God. Kindly consider <%= link_to "joining us", join_path %> through <%= link_to "prayers", social_path %>, a <%= link_to "financial gift", support_path %> or a <%= link_to "vision trip", join_path %> to see what we do and how you can help.
    </p>
  </div>
</div>

<% if !@blogs.empty? %>
  <div class="content-block row">
    <div class="well">
      <h2>
        <%= @blog_page.css('title').first.text.to_s.humanize %>: the latest from 
        <%= link_to "our blog", "http://embracingthelove.blogspot.com", target: :blank %>.
      </h2>
      <h4>
        <%= @blog_page.css('subtitle').text %>?
      </h4>
      <% for blog in @blogs %>
        <%= render 'blog_div', blog: blog %>
      <% end %>
      <p class="text-right">
        <%= link_to "Read more on our blog #{icon('arrow-right')}".html_safe, "http://embracingthelove.blogspot.com", target: :blank %>
      </p>
    </div>
  </div>
<% end %>
  