<div class="supersized">
  <%= image_tag 'car_desert.jpeg', class: "supersized-image" %>
</div>

<div class="content-block row">
  <div class="col-sm-6">
    <div class="well">
      <h3>Content Title</h3>
      <p>
        <%= lorem_ipsum(250) %>
      </p>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="well">
      <h3>Content Title</h3>
      <p>
        <%= lorem_ipsum(250) %>
      </p>
    </div>
  </div>
</div>
<div class="content-block row">
  <div class="col-sm-4">
    <div class="well">
      <div class="row">
        <div class="col-xs-12 story-head">
          <h4>Story image or title</h4>
        </div>
        <div class="col-xs-12">
          <p>
            <%= lorem_ipsum(100) %>
          </p>
        </div>
      </div>
    </div> 
  </div>

  <div class="col-sm-4">
    <div class="well">
      <div class="row">
        <div class="col-xs-12 story-head">
          <h4>Story image or title</h4>
        </div>
        <div class="col-xs-12">
          <p>
            <%= lorem_ipsum(100) %>
          </p>
        </div>
      </div>
    </div> 
  </div>

  <div class="col-sm-4">
    <div class="well">
      <div class="row">
        <div class="col-xs-12 story-head">
          <h4>Story image or title</h4>
        </div>
        <div class="col-xs-12">
          <p>
            <%= lorem_ipsum(100) %>
          </p>
        </div>
      </div>
    </div> 
  </div>

</div>