<div id="sidebar-wrapper">
  <span id="sidebar_page_finder" class="hidden">
    <%= @page_finder %>
  </span>

  <ul id="sidebar_ul">
    <li id="home">
      <%= link_to icon('home fa-fw') + " Home", root_path  %>
    </li>
    <li id="work" >
      <%= link_to icon('fire fa-fw') + " Work", work_path  %>
    </li>
    <li id="leaders">
      <%= link_to icon('gavel fa-fw') + " Board", leaders_path %>
    </li>
    <li id="support" >
      <%= link_to icon('envelope fa-fw') + " Support", support_path %>
    </li>
    <li id="sponsor">
      <%= link_to icon('child fa-fw') + " Sponsor", sponsor_path %>
    </li>
    <li id="join" >
      <%= link_to icon('group fa-fw') + " Join Us", join_path %>
    </li>
    <li id="blog" >
      <%= link_to icon('list-alt fa-fw') + " Blog", blog_path %>
    </li>
    <li id="social" >
      <%= link_to icon('share-alt fa-fw') + " Social", social_path %>
    </li>
    <li id="calendar">
      <%= link_to icon('calendar fa-fw') + " Events", calendar_path %>
    </li>
    
  </ul>
</div>



