<!DOCTYPE html>
<html lang="en">
<head>
  <title>Locodi | <%= @page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body >
  <%= render 'banner_title' %>
    
  <div id="wrapper" class="show-sidebar container-fluid">
    
    <%= render 'sidebar' %>

    <div id="page_body" class="container-fluid">
      <%= yield %>
    
      <div id="sidebar_button">
        <%= link_to( icon('angle-double-left fa-2x'), "#", id: "sidebar_toggle") %>
      </div>

    </div>

    <% if @page_finder == "history" %>
      <div id="history_div" class="container-fluid">
        <div id="history_fade" class="row"></div>
        <div id="history_nav">
          <%= render 'history_nav' %>
        </div>
      </div>
    <% end %>
  </div>
  

  <footer class="footer">
    <div class="container-fluid">
      <p>(c) 2014 LOCODI
        <span id="created_by">
          | Created by <%= link_to "Chiperific", "http://chiperific.com", target: :blank %>
        </span>
      </p>
    </div>
  </footer>

</body>
</html>
